p {
    background-color: lightgray;
    font:red;
    margin: 0;
}

.container {
    display: grid;
<<<<<<< HEAD
    gap: 10px;
    grid-template-columns: repeat(1fr, 5);
    grid-template-areas: 
 "h h h h h"
 "n n n n n"
 "l m m m r"
 "f f f f f"
}
=======
    gap:10px;
    grid-template-columns: repeat(1fr, 5);
    grid-template-areas:
    "h h h h h"
    "n n n n n"
    "l m m m r"
    "f f f f f"
 }
>>>>>>> af296399f4ef4403768976dbef538ddf46890395

.container p {
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
   
.header{
    grid-area: h;
  height: 150px;
}  


.nav {
    grid-area: h;
    height: 150px;
=======
}


.header{
  grid-area: h;
  height: 150px;
}   

.nav {
  grid-area: n;
  height:75px
>>>>>>> af296399f4ef4403768976dbef538ddf46890395
}

.content-row {
 height: 300px;
}

.main{
  grid-area: m;
<<<<<<< HEAD

=======
>>>>>>> af296399f4ef4403768976dbef538ddf46890395
}


.left-content{
<<<<<<< HEAD
    grid-area: l;
   

}

.right-content{
 grid-area: r;
=======
   grid-area: l;
}

.right-content{
 grid-area:r
>>>>>>> af296399f4ef4403768976dbef538ddf46890395
}

.footer{
   grid-area: f;
<<<<<<< HEAD
   height: 150px;
=======
   height:150px
>>>>>>> af296399f4ef4403768976dbef538ddf46890395
}